@model IEnumerable<MyExam.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.Active == 1)
    {
        <tr style="background-color: red">
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    if (item.Active == 0)
    {
        <tr style="background-color: green">
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
}

</table>
