@{
    ViewBag.Title = "Home Page";
}

<style>
    .contentImage {
        max-width: 100%;
    }
</style>

@if (ViewBag.Lead != null)
{
    <div class="jumbotron">
        <a href="@Url.Action("Read", new { id = ViewBag.Lead.Id })">
            @if (ViewBag.LeadImage != null)
            {
                <img src="@Url.Action("Image", new { imageId = ViewBag.LeadImage })" class="contentImage" />
            }
            <h1>@ViewBag.Lead.Title</h1>
        </a>
        <p class="lead">@ViewBag.Lead.Summary</p>
        <p>@Html.ActionLink("Read more", "Read", new { id = ViewBag.Lead.Id }, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
}

@foreach (var article in Model)
{
    <div class="row">
        <h2>@article.Title</h2>
        <p>@article.Summary</p>
        <p>@Html.ActionLink("Read more", "Read", new { id = article.Id }, new { @class = "btn btn-default" })</p>
    </div>
}
